src/main/mule/customer-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="customer-system-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="customer-system-api-config" api="customer-system-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="Database_Config" doc:name="Database Config" doc:id="d13bbc98-d26d-43b1-a576-f98fc12091c9" >
		<db:my-sql-connection host="db4free.net" port="3306" user="batch14" password="Batch1420" database="customerinfo14" />
	</db:config>
	<flow name="customer-system-api-main">
        <http:listener config-ref="customer-system-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="customer-system-api-config" />
    </flow>
    <flow name="customer-system-api-console">
        <http:listener config-ref="customer-system-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="customer-system-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\customer\(Id):application\json:customer-system-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="Id">attributes.uriParams.'Id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <db:update doc:name="Update" doc:id="b969c806-4d35-4c44-8108-52c018071989" config-ref="Database_Config">
			<db:sql >UPDATE customers  SET fName=:'Love',:where customerID=:100;</db:sql>
			<db:input-parameters ><![CDATA[#[customerID:attributes.uriParams.id]]]></db:input-parameters>
		</db:update>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\customer\(Id):customer-system-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="Id">attributes.uriParams.'Id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <db:delete doc:name="Delete" doc:id="17a439fe-871b-469e-b670-a09db36b3c79" config-ref="Database_Config">
			<db:sql >delete from customers where id=4;</db:sql>
			<db:input-parameters ><![CDATA[#[customerID:attributes.uriParams.'Id']]]></db:input-parameters>
		</db:delete>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "remove successful"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\customer\(Id):customer-system-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="Id">attributes.uriParams.'Id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <db:select doc:name="Select" doc:id="01ebc2af-1838-4fc7-9128-ad710ce63f97" config-ref="Database_Config">
			<db:sql >SELECT * FROM customerinfo14.customers;</db:sql>
			<db:input-parameters ><![CDATA[#[customerID:attributes.queryParams.Id]]]></db:input-parameters>
		</db:select>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\customer:customer-system-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "fName": "du-du-du-du",
    "lName": "Max",
    "customerID": "1",
    "phoneNumber": "202-111-1111",
    "customerAddress": "1919 9th St NW Washington, D.C. 20001",
    "SSN": "11-111-1111"
  }]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<db:insert doc:name="Insert" doc:id="91f04fc3-4dbe-4ef8-b82b-b167283dd1c7" config-ref="Database_Config">
			<db:sql >insert into customers(customerID,fName,lName,phoneNumber,SSN,customerAddress)
values(:customerID,:fName,:lName,:phoneNumber,:SSN,:customerAddress);</db:sql>
			<db:input-parameters ><![CDATA[#[{
	"customerID": payload.customerID,
	"fName": payload.fName,
	"lName" : payload.lName,
	"phoneNumber": payload.phoneNumber,
	"SSN": payload.SSN,
	"customerAddress": payload.customerAddress
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="a0e34d46-7933-4744-935b-4ac417df0df2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{"message":"successfuly insert"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
